.esquerda{
    background-image: linear-gradient(rgb(25, 105, 156), rgb(75, 155, 208));
    height: 600px;
}

.direita{
  border: groove 1px rgb(244, 244, 244);
}

.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.titulo{
  color: white;
  font-size: 30pt;
  margin-right: auto;
  margin-top: 40%;
  text-align: center;
}

.subTitulo{
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  text-align: center;
}

#logo{
  width: 50%;
  height: 50%;
  margin-right: auto;
  margin-top: 20%;
  margin-left: 27%;
}

.formulario{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 13%;
}

#botao{
  margin-top: 10%;
  margin-left: 45%;
  background-color: rgb(168, 169, 171);
  border-color: rgb(168, 169, 171);
  font-size: 15pt;
}